<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <h3><a href="{{ site.path }}/dspira/">DSPiRA Home</a></h3>
        <h3><a href="{{ site.path }}/dspira/lectures/">Lectures</a></h3>
        <h3><a href="{{ site.path }}/dspira/labs/">Labs</a></h3>
        <h3><a href="{{ site.path }}/dspira/linux/">Linux Cheat Sheet</a></h3>
        
<div id="js_clock">       
<script type="text/javascript">
    function calculate() {

        var longit = -79.8318;
        var longmgt = -79.9559;
        var tDate = new Date();
        var utSeconds    = tDate.getUTCSeconds();
        var utMinutes    = tDate.getUTCMinutes();
        var utHours      = tDate.getUTCHours();
        var utDay        = tDate.getUTCDate();
        var utMonth      = tDate.getUTCMonth() + 1;
        var utYear       = tDate.getUTCFullYear();
        var UT        = utHours + utMinutes/60 + utSeconds/3600;
        var LMST      = LM_Sidereal_Time(JulDay (utDay, utMonth, utYear, UT),longit);
        var MLST      = LM_Sidereal_Time(JulDay (utDay, utMonth, utYear, UT),longmgt);
        var GMST      = LM_Sidereal_Time(JulDay (utDay, utMonth, utYear, UT),0.0);
        
        var JulD      = JulDay (utDay, utMonth, utYear, UT)
        var MJulD     = JulD - 2400000.5;

        var cuth = utHours.toString();
        if ( utHours < 10 ) var cuth = "0" + utHours.toString(); 
        var cutm = utMinutes.toString()
        if ( utMinutes < 10 ) var cutm = "0" + utMinutes.toString(); 
        cuts = utSeconds.toString();
        if ( utSeconds < 10 ) var  cuts = "0" + utSeconds.toString(); 

        var h = Math.floor(LMST);
        var min = Math.floor(60.0*frac(LMST));
        var secs = Math.round(60.0*(60.0*frac(LMST)-min));

        if (secs == 60) {
        secs = 0;
        min = min + 1;
        }
        
        ch = h.toString();
        if ( h < 10 ) var ch = "0" + h.toString(); 
        cmin = min.toString()
        if ( min < 10 ) var cmin = "0" + min.toString(); 
        csecs = secs.toString();
        if ( secs < 10 ) var csecs = "0" + secs.toString(); 

        var h = Math.floor(MLST);
        var min = Math.floor(60.0*frac(MLST));
        var secs = Math.round(60.0*(60.0*frac(MLST)-min));

        if (secs == 60) {
        secs = 0;
        min = min + 1;
        }
        
        mh = h.toString();
        if ( h < 10 ) var mh = "0" + h.toString(); 
        mmin = min.toString()
        if ( min < 10 ) var mmin = "0" + min.toString(); 
        msecs = secs.toString();
        if ( secs < 10 ) var msecs = "0" + secs.toString(); 

        h = Math.floor(GMST);
        min = Math.floor(60.0*frac(GMST));
        secs = Math.round(60.0*(60.0*frac(GMST)-min));
        if (secs == 60) {
        secs = 0;
        min = min + 1;
        }

        gmt_ch = h.toString();
        if ( h < 10 ) var gmt_ch = "0" + h.toString(); 
        gmt_cmin = min.toString()
        if ( min < 10 ) var gmt_cmin = "0" + min.toString(); 
        gmt_csecs = secs.toString();
        if ( secs < 10 ) var gmt_csecs = "0" + secs.toString(); 


        var clock_div = document.getElementById('js_clock');
        clock_div.innerHTML = "<font face=Courier color=#000000> Coordinated Universal Time (UTC): &nbsp;" +cuth + ":"  +cutm+":"+cuts+"<br>Greenwich Local Sidereal Time: &nbsp;&nbsp;&nbsp;&nbsp;" +gmt_ch + ":"  + gmt_cmin  + ":" +gmt_csecs+"<hr><br>Green Bank LST: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;" +ch + ":"  + cmin  + ":" +csecs+ "<br> Morgantown  LST: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +mh + ":"  + mmin  + ":" +msecs+ " <br><hr> Julian Day: &nbsp;&nbsp;" +JulD+ " <br> Modified Julian Day: &nbsp;&nbsp;" +MJulD+ " </font>";
        setTimeout("calculate()",5);
    }

    function LM_Sidereal_Time (jd, longitude) {
        var GMST = GM_Sidereal_Time(jd);		
        var LMST =  24.0*frac((GMST + longitude/15.0)/24.0);
        return LMST;
   }

  function GM_Sidereal_Time (jd) {	
    var t_eph, ut, MJD0, MJD;		
    MJD = jd - 2400000.5;		
    MJD0 = Math.floor(MJD);
    ut = (MJD - MJD0)*24.0;		
    t_eph  = (MJD0-51544.5)/36525.0;			
    return  6.697374558 + 1.0027379093*ut + (8640184.812866 + (0.093104 - 0.0000062*t_eph)*t_eph)*t_eph/3600.0;		
   }

  function JulDay (date, month, year, UT) {
    if (year<1900) year=year+1900
    if (month<=2) { month=month+12; year=year-1 }
    A = Math.floor(year/100);
    B = -13;
    JD =  Math.floor(365.25*(year+4716)) + Math.floor(30.6001*(month+1)) + date + B -1524.5 + UT/24.0;
    return JD
   }

  function frac(X) {
    X = X - Math.floor(X);
    if (X<0) X = X + 1.0;
    return X;		
   }
    calculate();

</script></div>


               
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>i.e.<a href="http://wvurail.org/">West Virgnia University ⏦ Radio Astronomy Instrumentation Laboratory</a></small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
